<%= render 'layouts/skillforms/skill_base'%>
<p>
	attackType:<%= select_tag :attackType,options_for_select(AllSkillConfig::EATTACK_TYPE,:selected => @all_skills.nil? ? "" : @all_skills.try(:Normal)[@index].try(:attackType)) %>
</p>
<p>
	activeBlocks:
	<%= select_tag :activeBlocks1,options_for_select({"select" => "select"}.merge(AllSkillConfig::EUNIT_TYPE),@all_skills.nil? ? "" : @all_skills.try(:Normal)[@index].try(:activeBlocks).to_a[0] ) %>
	<%= select_tag :activeBlocks2,options_for_select({"select" => "select"}.merge(AllSkillConfig::EUNIT_TYPE),@all_skills.nil? ? "" : @all_skills.try(:Normal)[@index].try(:activeBlocks).to_a[1] ) %>
	<%= select_tag :activeBlocks3,options_for_select({"select" => "select"}.merge(AllSkillConfig::EUNIT_TYPE),@all_skills.nil? ? "" : @all_skills.try(:Normal)[@index].try(:activeBlocks).to_a[2] ) %>
	<%= select_tag :activeBlocks4,options_for_select({"select" => "select"}.merge(AllSkillConfig::EUNIT_TYPE),@all_skills.nil? ? "" : @all_skills.try(:Normal)[@index].try(:activeBlocks).to_a[3] ) %>
	<%= select_tag :activeBlocks5,options_for_select({"select" => "select"}.merge(AllSkillConfig::EUNIT_TYPE),@all_skills.nil? ? "" : @all_skills.try(:Normal)[@index].try(:activeBlocks).to_a[4] ) %>
</p>

<p>
	attackValue:<%= text_field_tag :attackValue,@all_skills.nil? ? "" : @all_skills.try(:Normal)[@index].try(:attackValue).to_f.round(3)  %>
</p>

<p>
	attackUnitType:<%= select_tag :attackUnitType,options_for_select(AllSkillConfig::EUNIT_TYPE,:selected => @all_skills.nil? ? "" : @all_skills.try(:Normal)[@index].try(:attackUnitType)) %>
</p>
