<%= render 'layouts/skillforms/skill_base'%>
<p>
	type:<%= select_tag :type,options_for_select(AllSkillConfig::EVALUE_TYPE,:selected => @all_skills.nil? ? "" : @all_skills.try(@skill_type)[@index].try(:type)) %>
</p>
<p>
	value:<%= text_field_tag :value , @all_skills.nil? ? "" : @all_skills.try(@skill_type)[@index].try(:value)%>
</p>
<p>
	period:<%= select_tag :period,options_for_select(AllSkillConfig::EPERIOD,:selected => @all_skills.nil? ? "" : @all_skills.try(@skill_type)[@index].try(:period)) %>
</p>
<p>
	periodValue:<%= text_field_tag :periodValue ,@all_skills.nil? ? "" : @all_skills.try(@skill_type)[@index].try(:periodValue)%>
</p>

<p>
	unitType:<%= select_tag :unitType,options_for_select(AllSkillConfig::EUNIT_TYPE,:selected => @all_skills.nil? ? "" : @all_skills.try(@skill_type)[@index].try(:unitType)) %>
</p>