<h1 id="选择技能类型">选择技能类型</h1>
<%= form_tag(type_skills_path) %>

<p>
	选择技能：<%= select_tag :skillType,options_for_select(AllSkillConfig::ALL_SKILL),onchange: 'skilltypechange()' %>
</p>

<div class="actions">
	<%= submit_tag "添加技能" %>
</div>

<% if @all_skills.present? %>
<%= render "layouts/skilltables/normal" %>
<%= render "layouts/skilltables/singleattack"%>
<%= render "layouts/skilltables/singleatkrecoverhp"%>
<%= render "layouts/skilltables/suicideattack"%>
<%= render "layouts/skilltables/targettypeattack"%>
<%= render "layouts/skilltables/strengthenattack"%>
<%= render "layouts/skilltables/killhp"%>
<%= render "layouts/skilltables/recoverhp"%>
<%= render "layouts/skilltables/recoversp"%>
<%= render "layouts/skilltables/reducehurt"%>
<%= render "layouts/skilltables/reducedefence"%>
<%= render "layouts/skilltables/deferattackround"%>
<%= render "layouts/skilltables/poison"%>
<%= render "layouts/skilltables/delaytime"%>
<%= render "layouts/skilltables/convertunittype"%>
<%= render "layouts/skilltables/dodgetrap"%>
<%= render "layouts/skilltables/antiattack"%>
<%= render "layouts/skilltables/boost"%>
<%= render "layouts/skilltables/extraattack"%>
<%= render "layouts/skilltables/multipleattack"%>
<% end %>



