<h2>SkillDodgeTrap</h2>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
      <th>baseInfo</th>
      <th>trapLevel</th>
      <th>trapType</th>
      <th>操作</th>
    </tr>
  </thead>
	<tbody>
    <% if @all_skills[:DodgeTrap].present?%>
    <% @all_skills[:DodgeTrap].each_with_index do |skill,index|%>
    <tr>
      <td>
        {
          id:<%= skill[:baseInfo][:id]%>,
          name:<%= skill[:baseInfo][:name]%>,
          description:<%= skill[:baseInfo][:description]%>,
          skillCooling:<%= skill[:baseInfo][:skillCooling]%>
        }
      </td>
      <td><%=skill.try(:trapLevel) %></td>
      <td><%=skill.try(:trapType) %></td>
      <td><%=link_to "修改",edit_skill_path(skillType: "DodgeTrap",id: index,method: "PATCH") %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>