<h2>SkillMultipleAttack</h2>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
      <th>baseInfo</th>
      <th>unitTypeCount</th>
      <th>value</th>
      <th>操作</th>
    </tr>
  </thead>
	<tbody>
    <% if @all_skills[:MultipleAttack].present? %>
    <% @all_skills[:MultipleAttack].each_with_index do |skill,index|%>
    <tr>
      <td>
        {
          id:<%= skill[:baseInfo][:id]%>,
          name:<%= skill[:baseInfo][:name].force_encoding("UTF-8")%>,
          description:<%= skill[:baseInfo][:description].force_encoding("UTF-8")%>,
          skillCooling:<%= skill[:baseInfo][:skillCooling]%>
        }
      </td>
      <td><%=skill[:unitTypeCount] %></td>
      <td><%=skill.try(:value) %></td>
      <td><%=link_to "修改",edit_skill_path(skillType: "MultipleAttack",id: index,method: "PATCH") %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>