<h2>SuicideAttack</h2>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
      <th>baseInfo</th>
      <th>type</th>
      <th>value</th>
      <th>unitType</th>
      <th>attackType</th>
      <th>操作</th>
    </tr>
  </thead>
	<tbody>
    <% if @all_skills[:SuicideAttack].present?%>
    <% @all_skills[:SuicideAttack].each_with_index do |skill,index|%>
    <tr>
      <td>
        {
          id:<%= skill[:baseInfo][:id]%>,
          name:<%= skill[:baseInfo][:name]%>,
          description:<%= skill[:baseInfo][:description]%>,
          skillCooling:<%= skill[:baseInfo][:skillCooling]%>
        }
      </td>
      <td><%=skill[:type] %></td>
      <td><%=skill[:value] %></td>
      <td><%=skill[:unitType] %></td>
      <td><%=skill[:attackType] %></td>
      <td><%=link_to "修改",edit_skill_path(skillType: "SuicideAttack",id: index,method: "PATCH") %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>