<%= form_tag(unit_infos_path) %>

<p>
	id:<%= text_field_tag :id %>
</p>
<p>
	name:<%= text_field_tag :name %>
</p>
<p>
	race:<%= select_tag :race,options_for_select(UnitInfo::UNITRACE) %>
</p>
<p>
	type:<%= select_tag :type,options_for_select(UnitInfo::UNITTYPE) %>
</p>
<p>
	skill1:<%= text_field_tag :skill1 %>
</p>

<p>
	skill2:<%= text_field_tag :skill2 %>
</p>
<p>
	leaderSkill:<%= text_field_tag :leaderSkill %>
</p>
<p>
	activeSkill:<%= text_field_tag :activeSkill %>
</p>
<p>
	passiveSkill:<%= text_field_tag :passiveSkill %>
</p>
<p>
	maxLevel:<%= text_field_tag :maxLevel %>
</p>
<p>
	profile:<%= text_area_tag :profile %>
</p>
<p>
	<fieldset>
		PowerType<br/>
		attackType:<%= text_field_tag :attackType %><br/>
		hpType:<%= text_field_tag :hpType %><br/>
		expType:<%= text_field_tag :expType %>
	</fieldset>
</p>
<p>
	<fieldset>
		EvolveInfo<br/>
		evolveUnitId:<%= select_tag :evolveUnitId,options_for_select(@units)%><br/>
		materialUnitId:
		<%= select_tag :materialUnitId1,options_for_select(@units)%>
		<%= select_tag :materialUnitId2,options_for_select(@units)%>
		<%= select_tag :materialUnitId3,options_for_select(@units)%>
		<br/>
		<fieldset>
			helperRequire<br/>
			level:<%= text_field_tag :level %><br/>
			helper_race:<%= select_tag :helper_race,options_for_select(UnitInfo::UNITRACE) %><br/>
			helper_type:<%= select_tag :helper_type,options_for_select(UnitInfo::UNITTYPE) %><br/>
		</fieldset>
	</fieldset>
</p>
<p>
	cost:<%= text_field_tag :cost %>
</p>
<p>
	saleValue:<%= text_field_tag :saleValue %>
</p>
<p>
	devourValue:<%= text_field_tag :devourValue %>
</p>
<div class="actions">
	<%= submit_tag '提交' %>
</div>