<h1 id="">修改color</h1>
<%= form_tag update_config_city_infos_path ,method: "patch"%>
color:<%= select_tag :color,options_for_select(AllSkillConfig::EUNIT_TYPE,@color.try(:color))%><br/>
percent:<%= text_field_tag :percent ,@color.try(:percent)%><br/>
<%= hidden_field_tag :form_type,@type%>
<%= hidden_field_tag :index,@index%>
<%= hidden_field_tag :config_id,@config_id%>
<div class="actions">
  <%= submit_tag '修改',class: "btn btn-primary" %>
</div>