<h1 id=""><%= @op == "new" ? "新建" : "修改"%>enmey</h1>
<%= form_tag update_config_city_infos_path ,method: "patch"%>
enemyId:<%= text_field_tag :enemyId,@enemy.try(:enemy).try(:enemyId) %><br/>
unitId:<%= text_field_tag :unitId ,@enemy.try(:enemy).try(:unitId)%><br/>
type:<%= select_tag :type,options_for_select(AllSkillConfig::EUNIT_TYPE,@enemy.try(:enemy).try(:type))%><br/>
hp:<%= text_field_tag :hp,@enemy.try(:enemy).try(:hp) %><br/>
attack:<%= text_field_tag :attack ,@enemy.try(:enemy).try(:attack)%><br/>
defense:<%= text_field_tag :defense,@enemy.try(:enemy).try(:defense) %><br/>
nextAttack:<%= text_field_tag :nextAttack,@enemy.try(:enemy).try(:nextAttack) %><br/>
dropUnitId:<%= text_field_tag :dropUnitId,@enemy.try(:dropUnitId) %><br/>
dropUnitLevel:<%= text_field_tag :dropUnitLevel ,@enemy.try(:dropUnitLevel)%><br/>
dropRate:<%= text_field_tag :dropRate ,@enemy.try(:dropRate)%><br/>
addRate:<%= text_field_tag :addRate,@enemy.try(:addRate) %><br>
<%= hidden_field_tag :form_type,@type%>
<%= hidden_field_tag :index,@index%>
<%= hidden_field_tag :config_id,@config_id%>
<%= hidden_field_tag :operation,@op%>
<div class="actions">
	<%= submit_tag '提交',class: "btn btn-primary" %>
</div>