<%= form_tag(city_infos_path,id: "questconfig") %>
<p>
  <fieldset id="questinfo">
    version:<%= text_field_tag :version%>
    id:<%= text_field_tag :id%>
    state:<%= text_field_tag :state%>
    cityName:<%= text_field_tag :cityName%>
    description:<%= text_area_tag :description%>
    <fieldset>
      pos:<br/>
      x:<%= text_field_tag :x%>
      y:<%= text_field_tag :y%>
    </fieldset>
    <button id="city" class="btn btn-primary">增加city</button>
  </fieldset>
  
  <fieldset>
    city:<div id="cityinfo"></div>
    stage:<div id="stageinfo"></div>
    quest:<div id="quest-info"></div>
  </fieldset>
  
  
  <div class="actions">
    <button id="add-city" class="btn btn-primary">提交</button>
    <button id="reset-form" class="btn btn-primary">清除数据</button>
  </div>


  <div id="stageModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">增加stage</h3>
    </div>
    <div class="modal-body">
      <fieldset id="stageForm">
        version:<%= text_field_tag :stage_version%><br/>
        cityId:<%= text_field_tag :cityId%><br/>
        id:<%= text_field_tag :stageInfoId%><br/>
        state:<%= select_tag :state,options_for_select(CityInfo::EQUEST_STATE)%><br/>
        type:<%= select_tag :type,options_for_select(CityInfo::QUEST_TYPE)%><br/>
        stageName:<%= text_field_tag :stageName%><br/>
        description:<%= text_field_tag :stage_description%><br/>
        startTime:<%= text_field_tag :startTime%><br/>
        endTime:<%= text_field_tag :endTime%>
        <fieldset>
          boost:<br/>
          type:<%= select_tag :boost_type,options_for_select(CityInfo::QUEST_BOOST_TYPE)%>
          value:<%= text_field_tag :value%>
        </fieldset>
        <fieldset>
          pos:<br/>
          x:<%= text_field_tag :stage_x%>
          y:<%= text_field_tag :stage_y%>
    
        </fieldset>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      <button id="stage" class="btn btn-primary">保存</button>
    </div>
  </div>



  <div id="questModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">增加quest</h3>
    </div>
    <div class="modal-body">
      <fieldset id="questForm">
        quests:<br/>
        id: <%=text_field_tag :quest_id %><br/>
        state:<%= select_tag :quest_state,options_for_select(CityInfo::EQUEST_STATE)%><br/>
        no: <%=text_field_tag :no %><br/>
        name: <%=text_field_tag :name %><br/>
        story: <%=text_field_tag :story %><br/>
        stamina: <%=text_field_tag :stamina %><br/>
        floor: <%=text_field_tag :floor %><br/>
        rewardExp: <%=text_field_tag :rewardExp %><br/>
        rewardMoney: <%=text_field_tag :rewardMoney %><br/>
        bossId: <%=text_field_tag :bossId %>(多个ID用,隔开)<br/>
        enemyId: <%=text_field_tag :enemyId %>(多个ID用,隔开)<br/>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      <button id="addquest" class="btn btn-primary">保存</button>
    </div>
  </div>


  <script type="text/javascript" charset="utf-8">
  $( document ).ready(function() {
    $( "#addquest" ).click(function(event) {
      event.preventDefault();
      quests = [];
      stages = JSON.parse(localStorage["stages"])
      if(stages[parseInt(localStorage["stage_index"])]["quests"] == undefined){
        quests.push($("#questForm").serializeJSON());
      }else{
        quests = JSON.parse(localStorage["stages"])[parseInt(localStorage["stage_index"])]["quests"];
        quests.push($("#questForm").serializeJSON());
      }
      alert("增加quest成功");
      $('#questModal').modal('hide');
      $("#quest-info").append(JSON.stringify($("#questForm").serializeJSON())+"<br/>");
      stages[parseInt(localStorage["stage_index"])]["quests"] = quests;
      localStorage["stages"] = JSON.stringify(stages);
      $("#questconfig")[0].reset();
    });
  
    $( "#stage" ).click(function(event) {
      event.preventDefault();
      if(localStorage["stages"] == undefined ){
        var stagearrs = []
        var stage = $("#stageForm").serializeJSON();
        // stage["quests"] = JSON.parse(localStorage["quests"]);
        stagearrs.push(stage);
        localStorage["stages"] = JSON.stringify(stagearrs);
      }else{
        var stagearr = JSON.parse(localStorage["stages"]);
        stage =  $("#stageForm").serializeJSON();
        stagearr.push(stage);
        localStorage["stages"] = JSON.stringify(stagearr);
      }
      alert("增加stage成功");
      $('#stageModal').modal('hide');
      var index = JSON.parse(localStorage["stages"]).length - 1 
      $("#stageinfo").append(JSON.stringify(stage)+"<a href=\"#questModal\" id=\"quest-btn\" role=\"button\" class=\"btn btn-primary\" data-index="+ index +" data-toggle=\"modal\">增加quest</a>");
      $("#questconfig")[0].reset();
    });
  
    $(document).on("click", "#quest-btn", function(event){
      localStorage["stage_index"]  = parseInt($(this).attr("data-index"));
    });
  

    $( "#add-city" ).click(function(event) {
      event.preventDefault();
      var city =  JSON.parse(localStorage["city"]);
      city["stages"] = JSON.parse(localStorage["stages"]);
      $.ajax({
        type: "POST",
        url: "/city_infos",
        dataType: "json" ,
        data: { city: JSON.stringify(city) }
      })
      .done(function( msg ) {
        localStorage.removeItem("stages");
        alert("添加成功");
        $("#questconfig")[0].reset();
        window.location.href = "/city_infos"
      })
      .fail(function() {
        alert( "添加失败" );
      });
    });
  
    $( "#city" ).click(function(event) {
      event.preventDefault();
      var city = $("#questinfo").serializeJSON();
      localStorage["city"] = JSON.stringify(city);
      $("#cityinfo").html(localStorage["city"]+"<a href=\"#stageModal\" role=\"button\" class=\"btn btn-primary\" data-toggle=\"modal\">增加stage</a>");
      $("#questconfig")[0].reset();
    });
  
    $( "#reset-form" ).click(function(event) {
      event.preventDefault();
      localStorage.removeItem("quests");
      localStorage.removeItem("stages");
      $("#quest-data").html("");
      $("#stage-data").html("");
      alert("清除成功");
      $("#questconfig")[0].reset();
    });
  
  });
  </script>