<%= form_tag(city_infos_path,id: "questconfig") %>
<p>
  <fieldset id="questinfo">
    version:<%= text_field_tag :version%>
    id:<%= text_field_tag :id%>
    state:<%= text_field_tag :state%>
    cityName:<%= text_field_tag :cityName%>
    description:<%= text_area_tag :description%>
    <fieldset>
      pos:<br/>
      x:<%= text_field_tag :x%>
      y:<%= text_field_tag :y%>
    </fieldset>
  </fieldset>
  
  <fieldset>
    stages:<br/>
    <fieldset id="stageForm">
      version:<%= text_field_tag :stage_version%><br/>
      cityId:<%= text_field_tag :cityId%><br/>
      id:<%= text_field_tag :stageInfoId%><br/>
      state:<%= select_tag :state,options_for_select(CityInfo::EQUEST_STATE)%><br/>
      type:<%= select_tag :type,options_for_select(CityInfo::QUEST_TYPE)%><br/>
      stageName:<%= text_field_tag :stageName%><br/>
      description:<%= text_field_tag :stage_description%><br/>
      startTime:<%= text_field_tag :startTime%><br/>
      endTime:<%= text_field_tag :endTime%>
      <fieldset>
        boost:<br/>
        type:<%= select_tag :boost_type,options_for_select(CityInfo::QUEST_BOOST_TYPE)%>
        value:<%= text_field_tag :value%>
      </fieldset>
      <fieldset>
        pos:<br/>
        x:<%= text_field_tag :stage_x%>
        y:<%= text_field_tag :stage_y%>
    
      </fieldset>
    </fieldset>
    <fieldset id="questForm">
      quests:<br/>
      id: <%=text_field_tag :quest_id %><br/>
      state:<%= select_tag :quest_state,options_for_select(CityInfo::EQUEST_STATE)%><br/>
      no: <%=text_field_tag :no %><br/>
      name: <%=text_field_tag :name %><br/>
      story: <%=text_field_tag :story %><br/>
      stamina: <%=text_field_tag :stamina %><br/>
      floor: <%=text_field_tag :floor %><br/>
      rewardExp: <%=text_field_tag :rewardExp %><br/>
      rewardMoney: <%=text_field_tag :rewardMoney %><br/>
      bossId: <%=text_field_tag :bossId %>(多个ID用,隔开)<br/>
      enemyId: <%=text_field_tag :enemyId %>(多个ID用,隔开)<br/>
      <button id="quest" class="btn btn-primary">增加quest</button>
    </fieldset>
    <button id="stage" class="btn btn-primary">增加stage</button>
  </fieldset>
</p>
<div class="actions">
  <button id="add-city" class="btn btn-primary">提交</button>
  <button id="reset-form" class="btn btn-primary">清除数据</button>
</div>

<div id="quest-data"></div>
<div id="stage-data"></div>


<script type="text/javascript" charset="utf-8">
$( document ).ready(function() {
  $( "#quest" ).click(function(event) {
    event.preventDefault();
    if(localStorage["quests"] == undefined ){
      var jsons = [];
      jsons.push($("#questForm").serializeJSON());
      localStorage["quests"] = JSON.stringify(jsons);
    }else{
      var arr = JSON.parse(localStorage["quests"]);
      arr.push($("#questForm").serializeJSON());
      localStorage["quests"] = JSON.stringify(arr);
    }
    $("#quest-data").html(localStorage["quests"]);
    alert("增加quest成功");
    $("#questconfig")[0].reset();
  });
  $( "#stage" ).click(function(event) {
    event.preventDefault();
    if(localStorage["quests"] == undefined){
      alert("请先添加quest");
      return;
    }
    if(localStorage["stages"] == undefined ){
      var stagearrs = []
      var stage = $("#stageForm").serializeJSON();
      stage["quests"] = JSON.parse(localStorage["quests"]);
      stagearrs.push(stage);
      localStorage["stages"] = JSON.stringify(stagearrs);
    }else{
      var stagearr = JSON.parse(localStorage["stages"]);
      stage =  $("#stageForm").serializeJSON();
      stage["quests"] = JSON.parse(localStorage["quests"]);
      stagearr.push(stage);
      localStorage["stages"] = JSON.stringify(stagearr);
    }
    localStorage.removeItem("quests");
     $("#quest-data").html("");
     $("#stage-data").html(localStorage["stages"]);
    alert("增加stage成功");
    $("#questconfig")[0].reset();
  });

  $( "#add-city" ).click(function(event) {
    event.preventDefault();
    var quest = $("#questinfo").serializeJSON();
    quest["stages"] = JSON.parse(localStorage["stages"]);
    $.ajax({
      type: "POST",
      url: "/city_infos",
      dataType: "json" ,
      data: { city: JSON.stringify(quest) }
    })
    .done(function( msg ) {
      localStorage.removeItem("stages");
      alert("添加成功");
      $("#questconfig")[0].reset();
      window.location.href = "/city_infos"
    })
    .fail(function() {
      alert( "添加失败" );
    });
  });
  
  $( "#reset-form" ).click(function(event) {
    event.preventDefault();
    localStorage.removeItem("quests");
    localStorage.removeItem("stages");
    $("#quest-data").html("");
    $("#stage-data").html("");
    alert("清除成功");
    $("#questconfig")[0].reset();
  });
  
});
</script>