  <fieldset>
    city:<div id="cityinfo"></div>
    stage:<div id="stageinfo"></div>
    quest:<div id="quest-info"></div>
  </fieldset>
  
  
  <div class="actions">
    <button id="add-city" class="btn btn-primary">提交</button>
    <button id="reset-form" class="btn btn-primary">清除数据</button>
  </div>


  <div id="stageModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">增加stage</h3>
    </div>
    <div class="modal-body">
      <fieldset id="stageForm">
        version:<%= text_field_tag :stage_version%><br/>
        cityId:<%= text_field_tag :cityId%><br/>
        id:<%= text_field_tag :stageInfoId%><br/>
        state:<%= select_tag :state,options_for_select(CityInfo::EQUEST_STATE)%><br/>
        type:<%= select_tag :type,options_for_select(CityInfo::QUEST_TYPE)%><br/>
        stageName:<%= text_field_tag :stageName%><br/>
        description:<%= text_field_tag :stage_description%><br/>
        startTime:<%= text_field_tag :startTime%><br/>
        endTime:<%= text_field_tag :endTime%>
        <fieldset>
          boost:<br/>
          type:<%= select_tag :boost_type,options_for_select(CityInfo::QUEST_BOOST_TYPE)%>
          value:<%= text_field_tag :value%>
        </fieldset>
        <!-- <fieldset>
          pos:<br/>
          x:<%= text_field_tag :stage_x%>
          y:<%= text_field_tag :stage_y%>
    
        </fieldset> -->
      </fieldset>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      <button id="stage" class="btn btn-primary">保存</button>
    </div>
  </div>



  <div id="questModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">增加quest</h3>
    </div>
    <div class="modal-body">
      <fieldset id="questForm">
        quests:<br/>
        id: <%=text_field_tag :quest_id %><br/>
        state:<%= select_tag :quest_state,options_for_select(CityInfo::EQUEST_STATE)%><br/>
        no: <%=text_field_tag :no %><br/>
        name: <%=text_field_tag :name %><br/>
        story: <%=text_field_tag :story %><br/>
        stamina: <%=text_field_tag :stamina %><br/>
        floor: <%=text_field_tag :floor %><br/>
        rewardExp: <%=text_field_tag :rewardExp %><br/>
        rewardMoney: <%=text_field_tag :rewardMoney %><br/>
      </fieldset>
      bossId: <%=select_tag :bossId,options_for_select(@units_id) %> <button id="bossid" class="btn btn-primary">增加boosid</button><span id="bossid-info"></span><br/>
      <!-- enemyId: <%=select_tag :enemyId,options_for_select(@units_id) %> <button id="enemyid" class="btn btn-primary">增加enemyid</button><br/> -->
      <fieldset>
        <a href="#bossModal" role="button" class="btn btn-primary" data-toggle="modal">增加boss</a>
        <a href="#enemysModal" role="button" class="btn btn-primary" data-toggle="modal">增加enemy</a>
        <a href="#colorsModal" role="button" class="btn btn-primary" data-toggle="modal">增加color</a>
        <a href="#floorsModal" role="button" class="btn btn-primary" data-toggle="modal">增加floor</a>
      </fieldset>
        
      floors:<div id="floors-data"></div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      <button id="addquest" class="btn btn-primary">保存</button>
    </div>
  </div>
    
  
  <h1 id="关卡配置">关卡配置数据</h1>
  <%= form_tag(addconfig_city_infos_path,id: "questconfig1") %>
  
  <br/>

  boss:<div id="boss-data"></div>
  enemys:<div id="enmeys-data"></div>
  colors:<div id="colors-data"></div>
  floors:<div id="floors-data"></div>

  <div id="bossModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">增加boss</h3>
    </div>
    <div class="modal-body">
      <fieldset id="boss">
        <fieldset>
          EnemyInfo:<br/>  
          enemyId:<%= text_field_tag :enemyId %><br/>
          unitId:<%= text_field_tag :unitId %><br/>
          type:<%= select_tag :type,options_for_select(AllSkillConfig::EUNIT_TYPE)%><br/>
          hp:<%= text_field_tag :hp %><br/>
          attack:<%= text_field_tag :attack %><br/>
          defense:<%= text_field_tag :defense %><br/>
          nextAttack:<%= text_field_tag :nextAttack %><br/>
        </fieldset>
        dropUnitId:<%= text_field_tag :dropUnitId %><br/>
        dropUnitLevel:<%= text_field_tag :dropUnitLevel %><br/>
        dropRate:<%= text_field_tag :dropRate %><br/>
        addRate:<%= text_field_tag :addRate %><br>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      <button id="boss-btn" class="btn btn-primary">保存</button>
    </div>
  </div>


  <div id="enemysModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">增加enemy</h3>
    </div>
    <div class="modal-body">
      <fieldset id="enemys">
        <fieldset>
          EnemyInfo:<br/>  
          enemyId:<%= text_field_tag :enemyId %><br/>
          unitId:<%= text_field_tag :unitId %><br/>
          type:<%= select_tag :type,options_for_select(AllSkillConfig::EUNIT_TYPE)%><br/>
          hp:<%= text_field_tag :hp %><br/>
          attack:<%= text_field_tag :attack %><br/>
          defense:<%= text_field_tag :defense %><br/>
          nextAttack:<%= text_field_tag :nextAttack %><br/>
        </fieldset>
        dropUnitId:<%= text_field_tag :dropUnitId %><br/>
        dropUnitLevel:<%= text_field_tag :dropUnitLevel %><br/>
        dropRate:<%= text_field_tag :dropRate %><br/>
        addRate:<%= text_field_tag :addRate %><br>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      <button id="enemys-btn" class="btn btn-primary">保存</button>
    </div>
  </div>

  <div id="colorsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">增加color</h3>
    </div>
    <div class="modal-body">
      <fieldset id="colors">
        colors:<br/>  
        color:<%= select_tag :color,options_for_select(AllSkillConfig::EUNIT_TYPE)%><br/>
        percent:<%= text_field_tag :percent %><br/>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      <button id="colors-btn" class="btn btn-primary">保存</button>
    </div>
  </div>

  <div id="floorsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">增加floor</h3>
    </div>
    <div class="modal-body">
      <fieldset id="floor-form">
        floors:<br/>  
        version:<%= text_field_tag :version %><br/>
        treasureNum:<%= text_field_tag :treasureNum %><br/>
        trapNum:<%= text_field_tag :trapNum %><br/>
        enemyNum:<%= text_field_tag :enemyNum %><br/>
        keyNum:<%= text_field_tag :keyNum %><br/>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      <button id="floors-btn" class="btn btn-primary">保存</button>
    </div>
  </div>


  <div id="starsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">增加star</h3>
    </div>
    <div class="modal-body">
      <fieldset id="stars">
        repeat:<%= text_field_tag :repeat %><br/>
        star:<%= select_tag :star,options_for_select(CityInfo::E_GRID_STAR)%><br/>
        coin:<br/>
        min:<%= text_field_tag :coin_min %>&nbsp;&nbsp;&nbsp;&nbsp;max:<%= text_field_tag :coin_max %><br/>
        enemyPool:<%= text_field_tag :enemyPool,@star.try(:enemyPool).to_s %><%=select_tag :enemy_id,options_for_select(@units_id) %> <button id="enemyid" class="btn btn-primary">增加enemyid</button><span id="enemy-info"></span><br/>
        enemyNum:<br/>
        min:<%= text_field_tag :enemyNum_min %>&nbsp;&nbsp;&nbsp;&nbsp;max:<%= text_field_tag :enemyNum_max %><br/>
        trap:<%= text_field_tag :trap,"[1,2,3]" %><br/>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      <button id="stars-btn" class="btn btn-primary">保存</button>
    </div>
  </div>
  
  <script type="text/javascript" charset="utf-8">
  $( document ).ready(function() {
    $("#boss-data").html(localStorage["boss"]);
    $("#enmeys-data").html(localStorage["enemys"]);
    $("#colors-data").html(localStorage["colors"]);
    $("#floors-data").html(localStorage["floors"]);
    $("#stars-data").html(localStorage["stars"]);
    if(localStorage["city"] != undefined){
      $("#cityinfo").html(localStorage["city"]+"<a href=\"#stageModal\" role=\"button\" class=\"btn btn-primary\" data-toggle=\"modal\">增加stage</a>");
    }
    $("#stageinfo").html(localStorage["stages"]);
    
    var op = "<%= @op %>";
    if(op == "add"){
      $("#cityId").val("<%= @city_id%>");
    }
    
    $( "#bossid" ).click(function(event) {
      event.preventDefault();
      boss_ids = []
      if(localStorage["bossids"] == undefined){
        boss_ids.push(parseInt($("#bossId").val()));
      }else{
        boss_ids  = JSON.parse(localStorage["bossids"]);
        boss_ids.push(parseInt($("#bossId").val()));
      }
      localStorage["bossids"] = JSON.stringify(boss_ids);
      $("#bossid-info").html(localStorage["bossids"]);
    });
    
    $( "#enemyid" ).click(function(event) {
      event.preventDefault();
      enemy_ids = []
      if(localStorage["enemyids"] == undefined){
        enemy_ids.push(parseInt($("#enemy_id").val()));
      }else{
        enemy_ids  = JSON.parse(localStorage["enemyids"]);
        enemy_ids.push(parseInt($("#enemy_id").val()));
      }
      localStorage["enemyids"] = JSON.stringify(enemy_ids);
      
      $("#enemyPool").val(localStorage["enemyids"]);
      $("#enemy-info").html(localStorage["enemyids"]);
    });
        
    $( "#addquest" ).click(function(event) {
      event.preventDefault();
      if(localStorage["bossids"] == undefined){
        alert("请先添加bossids");
        return ;
      }
      
            
      if(localStorage["boss"] == undefined || localStorage["enemys"] == undefined || localStorage["colors"]== undefined || localStorage["floors"] == undefined){
        alert("清先填写配置信息");
        return;
      }
      else
      {
        var qid = $("#quest_id").val();
        if( qid == ""){
          alert("请先输入questid");
        }
        quest_config = JSON.parse("{\"questId\" : "+ qid +"}")
        quest_config["boss"] = JSON.parse(localStorage["boss"]);
        quest_config["enemys"] = JSON.parse(localStorage["enemys"]);
        quest_config["colors"] = JSON.parse(localStorage["colors"]);
        quest_config["floors"] = JSON.parse(localStorage["floors"]);
      }
      
      quests = [];
      stages = JSON.parse(localStorage["stages"])
      quest_form = $("#questForm").serializeJSON();
      quest_form["bossId"] = JSON.parse(localStorage["bossids"]);
      quest_form["enemyId"] = JSON.parse(localStorage["enemyids"]);
      quest_form["quest_config"] = quest_config
      if(stages[parseInt(localStorage["stage_index"])]["quests"] == undefined){
        quests.push(quest_form);
      }else{
        quests = JSON.parse(localStorage["stages"])[parseInt(localStorage["stage_index"])]["quests"];
        quests.push(quest_form);
      }
      alert("增加quest成功");
      localStorage.removeItem("bossids");
      localStorage.removeItem("enemyids");
      
      localStorage.removeItem("boss");
      localStorage.removeItem("enemys");
      localStorage.removeItem("colors");
      localStorage.removeItem("floors");
      
      $('#questModal').modal('hide');
      $("#quest-info").append(JSON.stringify(quest_form)+"<br/>");
      stages[parseInt(localStorage["stage_index"])]["quests"] = quests;
      localStorage["stages"] = JSON.stringify(stages);
      $("#questconfig")[0].reset();
    });
  
    $( "#stage" ).click(function(event) {
      event.preventDefault();
      if(localStorage["stages"] == undefined ){
        var stagearrs = []
        var stage = $("#stageForm").serializeJSON();
        stagearrs.push(stage);
        localStorage["stages"] = JSON.stringify(stagearrs);
      }else{
        var stagearr = JSON.parse(localStorage["stages"]);
        stage =  $("#stageForm").serializeJSON();
        stagearr.push(stage);
        localStorage["stages"] = JSON.stringify(stagearr);
      }
      alert("增加stage成功");
      $('#stageModal').modal('hide');
      var index = JSON.parse(localStorage["stages"]).length - 1 
      $("#stageinfo").append(JSON.stringify(stage)+"<a href=\"#questModal\" id=\"quest-btn\" role=\"button\" class=\"btn btn-primary\" data-index="+ index +" data-toggle=\"modal\">增加quest</a>");
      $("#questconfig")[0].reset();
    });
  
    $(document).on("click", "#quest-btn", function(event){
      localStorage["stage_index"]  = parseInt($(this).attr("data-index"));
    });
  

    $( "#add-city" ).click(function(event) {
      event.preventDefault();
      var city =  JSON.parse(localStorage["city"]);
      city["stages"] = JSON.parse(localStorage["stages"]);
      $.ajax({
        type: "POST",
        url: "/city_infos",
        dataType: "json" ,
        data: { city: JSON.stringify(city) }
      })
      .done(function( msg ) {
        localStorage.removeItem("stages");
        localStorage.removeItem("city");
        alert("添加成功");
        $("#questconfig")[0].reset();
        window.location.href = "/city_infos"
      })
      .fail(function() {
        alert( "添加失败" );
      });
    });
  
    $( "#city" ).click(function(event) {
      event.preventDefault();
      var city = $("#questinfo").serializeJSON();
      localStorage["city"] = JSON.stringify(city);
      $("#cityinfo").html(localStorage["city"]+"<a href=\"#stageModal\" role=\"button\" class=\"btn btn-primary\" data-toggle=\"modal\">增加stage</a>");
      $("#questconfig")[0].reset();
    });
  
    $( "#reset-form" ).click(function(event) {
      event.preventDefault();
      localStorage.removeItem("quests");
      localStorage.removeItem("stages");
      localStorage.removeItem("city");
      localStorage.removeItem("bossids");
      localStorage.removeItem("enemyids");
      $("#cityinfo").html("");
      $("#stageinfo").html("");
      $("#quest-info").html("");
      alert("清除成功");
      $("#questconfig")[0].reset();
    });
  
  
  
    $("#stars-btn").click(function(event) {
      event.preventDefault();
      stars = [];
      floors = JSON.parse(localStorage["floors"])
      var star = $("#stars").serializeJSON();
      if(floors[parseInt(localStorage["floor_index"])]["stars"] == undefined ){
        stars.push(star);
      }else{
        stars = JSON.parse(localStorage["floors"])[parseInt(localStorage["floor_index"])]["stars"];
        stars.push(star);
      }
      alert("增加stars成功");
      $('#starsModal').modal('hide');
      floors[parseInt(localStorage["floor_index"])]["stars"] = stars;
      localStorage["floors"] = JSON.stringify(floors);
      $("#stars-data").append(JSON.stringify($("#stars").serializeJSON()));
    });
  
    $("#floors-btn").click(function(event) {
      event.preventDefault();
      if(localStorage["floors"] == undefined ){
        var jsons = [];
        floors = $("#floor-form").serializeJSON();
        jsons.push(floors);
        localStorage["floors"] = JSON.stringify(jsons);
      }else{
        var arr = JSON.parse(localStorage["floors"]);
        f = $("#floor-form").serializeJSON();
        arr.push(f);
        localStorage["floors"] = JSON.stringify(arr);
      }
      alert("增加floors成功");
      $('#floorsModal').modal('hide');
      var index = JSON.parse(localStorage["floors"]).length - 1 
      $("#floors-data").append(JSON.stringify($("#floor-form").serializeJSON()) + "<a id=\"stars-add\" href=\"#starsModal\" role=\"button\" class=\"btn btn-primary\" data-index="+ index +" data-toggle=\"modal\">增加star</a>");
    });
  
    $(document).on("click", "#stars-add", function(event){
      localStorage["floor_index"]  = parseInt($(this).attr("data-index"));
    });
  
  
    $("#colors-btn").click(function(event) {
      event.preventDefault();
      if(localStorage["colors"] == undefined ){
        var jsons = [];
        jsons.push($("#colors").serializeJSON());
        localStorage["colors"] = JSON.stringify(jsons);
      }else{
        var arr = JSON.parse(localStorage["colors"]);
        arr.push($("#colors").serializeJSON());
        localStorage["colors"] = JSON.stringify(arr);
      }
      alert("增加colors成功");
      $('#colorsModal').modal('hide');
      $("#colors-data").html(localStorage["colors"]);
    });
  
    $("#enemys-btn").click(function(event) {
      event.preventDefault();
      if(localStorage["enemys"] == undefined ){
        var jsons = [];
        jsons.push($("#enemys").serializeJSON());
        localStorage["enemys"] = JSON.stringify(jsons);
      }else{
        var arr = JSON.parse(localStorage["enemys"]);
        arr.push($("#enemys").serializeJSON());
        localStorage["enemys"] = JSON.stringify(arr);
      }
      alert("增加enemys成功");
      $('#enemysModal').modal('hide');
      $("#enmeys-data").html(localStorage["enemys"]);
    });
  
    $("#boss-btn").click(function(event) {
      event.preventDefault();
      if(localStorage["boss"] == undefined ){
        var jsons = [];
        jsons.push($("#boss").serializeJSON());
        localStorage["boss"] = JSON.stringify(jsons);
      }else{
        var arr = JSON.parse(localStorage["boss"]);
        arr.push($("#boss").serializeJSON());
        localStorage["boss"] = JSON.stringify(arr);
      }
      alert("增加boss成功");
      $('#bossModal').modal('hide');
      $("#boss-data").html(localStorage["boss"]);
    });
  
    $( "#add-config" ).click(function(event) {
      event.preventDefault();
      var qid = $("#quest_id").val();
      if( qid == ""){
        alert("请先输入questid");
      }
      
      quest_config = JSON.parse("{\"questId\" : "+ qid +"}")
      quest_config["boss"] = JSON.parse(localStorage["boss"]);
      quest_config["enemys"] = JSON.parse(localStorage["enemys"]);
      quest_config["colors"] = JSON.parse(localStorage["colors"]);
      quest_config["floors"] = JSON.parse(localStorage["floors"]);
      $.ajax({
        type: "POST",
        url: "/city_infos/addconfig",
        dataType: "json" ,
        data: { quest_config: JSON.stringify(quest_config) }
      })
      .done(function( msg ) {
        localStorage.removeItem("boss");
        localStorage.removeItem("enemys");
        localStorage.removeItem("colors");
        localStorage.removeItem("floors");
        $("#questconfig")[0].reset();
        alert("添加配置成功");
        window.location.href = "/city_infos/config_index"
      })
      .fail(function() {
        alert( "添加失败" );
      });
    });
    
    
  });
  </script>